[submodule "skills/slack"]
	path = skills/slack
	url = https://github.com/HartreeWorks/skill--slack
[submodule "skills/schedule-task"]
	path = skills/schedule-task
	url = https://github.com/HartreeWorks/skill--schedule-task
[submodule "skills/secure-mcp-install"]
	path = skills/secure-mcp-install
	url = https://github.com/HartreeWorks/skill--secure-mcp-install
[submodule "skills/project-management"]
	path = skills/project-management
	url = https://github.com/HartreeWorks/skill--project-management
[submodule "skills/youtube-transcribe"]
	path = skills/youtube-transcribe
	url = https://github.com/HartreeWorks/skill--youtube-transcribe
[submodule "skills/youtube-download"]
	path = skills/youtube-download
	url = https://github.com/HartreeWorks/skill--youtube-download
[submodule "skills/transcribe-audio"]
	path = skills/transcribe-audio
	url = https://github.com/HartreeWorks/skill--transcribe-audio
[submodule "skills/lesswrong-and-ea-forum"]
	path = skills/lesswrong-and-ea-forum
	url = https://github.com/HartreeWorks/claude-skill--lesswrong-and-ea-forum.git
