[submodule "skills/slack"]
	path = skills/slack
	url = https://github.com/HartreeWorks/claude-skill--slack
[submodule "skills/schedule-task"]
	path = skills/schedule-task
	url = https://github.com/HartreeWorks/claude-skill--schedule-task
[submodule "skills/secure-mcp-install"]
	path = skills/secure-mcp-install
	url = https://github.com/HartreeWorks/claude-skill--secure-mcp-install
[submodule "skills/project-management"]
	path = skills/project-management
	url = https://github.com/HartreeWorks/claude-skill--project-management
